@media (max-width: 500px) {
  html {
    overflow-x: hidden;
  }
  .error__container {
    min-height: 90vh;
  }
  .error__buttons {
    flex-direction: column;
    height: 15rem;
  }

  .header__nav.e.active {
    display: flex;
    position: absolute;
    top: 8rem;
    right: 0;
    background-color: rgb(0, 0, 0, 0.8);
    width: 70vw;
    z-index: 1;
  }
}
