* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  min-width: 99vw;
  background: linear-gradient(
    45deg,
    rgb(255, 187, 255, 0.25),
    rgb(170, 85, 238, 0.25)
  );

  font-family: "Montserrat", sans-serif;
}

.menu {
  position: fixed;
  width: 40rem;
  height: 40rem;

  top: 50vh;
  left: 50vw;

  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;

  transition: 2s ease-in-out;

  z-index: 10;
}

.menu li {
  position: absolute;
  list-style: none;
  left: 0;
  transform-origin: 20rem;
  transform: rotate(0deg) translateX(17rem);

  transition: 1s ease;
  transition-delay: calc(0.2s * var(--i));

  opacity: 0;
}

.menu.active li {
  transform: rotate(calc(360deg / 8 * var(--i)));
  opacity: 1;
}

.menu li a {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffffff;
  width: 6rem;
  height: 6rem;

  box-shadow: 0 5px 6px rgb(0, 0, 0, 0.2);

  transform: rotate(calc(360deg / -8 * var(--i)));

  color: #111111;

  transition: 0.2s ease;
}

.menu li a:hover {
  color: #aa55ee;
}

.menu li a ion-icon {
  pointer-events: none;
}

.toggle {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 5px 6px rgb(0, 0, 0, 0.2);
  color: rgb(170, 85, 238, 0.5);

  transition: 3s ease;

  z-index: 10;
}

.menu.active .toggle {
  transform: rotate(1035deg);
  color: #111111;
}

.menu.active .toggle:hover {
  color: #aa55ee;
}

.menu.sided {
  position: fixed;

  top: -14rem;
  left: -14rem;

  transform: scale(0.5);

  opacity: 0.4;

  z-index: 100;
}

.menu.sided.active {
  opacity: 1;
  top: -3.5rem;
  left: -3.5rem;

  transform: scale(0.7);
}

.menu.sided li {
  left: 3rem;
  transform-origin: 17rem;
}

.menu li .tooltip::before,
.menu li .tooltip::after {
  opacity: 0;
  transition: 0.5s ease;
  transition-delay: 0.5s;

  pointer-events: none;
}

.menu li:nth-child(4) .tooltip::before,
.menu li:nth-child(8) .tooltip::before {
  position: absolute;
  top: -13px;
  left: 50%;
  background: rgb(0, 0, 0, 0.6);
  transform: translate(-50%, -100%) rotate(calc(360deg / 2 * var(--i)));
}

.menu li:nth-child(2) .tooltip::before,
.menu li:nth-child(3) .tooltip::before,
.menu li:nth-child(9) .tooltip::before {
  position: absolute;
  top: -13px;
  right: 50%;
  background: rgb(0, 0, 0, 0.6);
  transform: translateY(-100%) rotate(calc(360deg / 1 * var(--i)));

  border-bottom-right-radius: 0;
}

.menu li:nth-child(5) .tooltip::before,
.menu li:nth-child(6) .tooltip::before,
.menu li:nth-child(7) .tooltip::before {
  position: absolute;
  top: -13px;
  left: 50%;
  background: rgb(0, 0, 0, 0.6);
  transform: translateY(-100%) rotate(calc(360deg / 1 * var(--i)));

  border-bottom-left-radius: 0;
}

.menu li a .tooltip::before {
  content: attr(data-tooltip);
  height: 30px;
  width: 100px;
  width: max-content;
  padding: 10px 8px 0px 8px;
  border-radius: 5px;

  color: #fff;
  font-size: 16px;
  font-weight: 200;
}

.menu li a .tooltip::after {
  content: "";
  position: absolute;
  top: -13px;
  left: 50%;
}

.menu li:nth-child(5) .tooltip::after,
.menu li:nth-child(6) .tooltip::after,
.menu li:nth-child(7) .tooltip::after {
  border: 5px solid transparent;
  border-top-color: rgb(0, 0, 0, 0.6);
  border-left-color: rgb(0, 0, 0, 0.6);
}

.menu li:nth-child(2) .tooltip::after,
.menu li:nth-child(3) .tooltip::after,
.menu li:nth-child(9) .tooltip::after {
  border: 5px solid transparent;
  border-top-color: rgb(0, 0, 0, 0.6);
  border-right-color: rgb(0, 0, 0, 0.6);

  transform: translateX(-100%);
}

.menu li:nth-child(4) .tooltip::after,
.menu li:nth-child(8) .tooltip::after {
  border: 10px solid transparent;
  border-top-color: rgb(0, 0, 0, 0.6);

  transform: translateX(-50%);
}

.menu li a:hover .tooltip::before,
.menu li a:hover .tooltip::after {
  opacity: 1;
}

/* 





     ==========     language switch     ==========





*/

.language__switch {
  position: absolute;

  top: 2vh;
  right: 2vh;

  width: 15rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.language__switch .switch__scroll {
  position: relative;

  width: 4rem;
  height: 2rem;

  border-radius: 2rem;

  background: #eee;

  display: flex;
  align-items: center;
}

.language__switch .switch__button {
  position: absolute;

  width: 2.5rem;
  height: 2.5rem;

  border-radius: 50%;

  background: #caaae4;

  transition: 0.7s ease;

  cursor: pointer;
}

.language__switch .switch__button.translate {
  transform: translateX(1.5rem);
}

.language__switch .switch__scroll::before,
.language__switch .switch__scroll::after {
  position: absolute;
  content: "";

  width: 2.5rem;
  height: 2.5rem;

  border-radius: 50%;
}

.language__switch .switch__scroll::before {
  left: 0;
  margin-left: -3.5rem;

  background-image: url("images/uk.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.language__switch .switch__scroll::after {
  right: 0;
  margin-right: -3.5rem;

  background-image: url("images/br.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* 





     ==========     wrapper     ==========





*/

.wrapper {
  position: relative;
  left: 5vw;
  top: 10vh;

  width: 90vw;
  height: 80vh;

  /* background: #fff; */

  overflow-y: auto;
  overflow-x: hidden;

  opacity: 0;

  transition: 1s ease;

  transition-delay: 0.5s;
}

.wrapper::-webkit-scrollbar {
  width: 0.7rem;
}

.wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);

  border-radius: 1rem;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(202, 170, 228);
  outline: 1px solid rgb(0, 0, 0, 0.3);

  border-radius: 1rem;
}
