.location {
  width: 35vw;
  height: 55vh;
  margin: auto;
  margin-top: 80px;
  border: 2px solid rgb(76, 99, 92, 0.2);
  border-radius: 20px;
  background-color: rgb(33, 63, 54, 0.8);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  filter: drop-shadow(20px 20px 20px rgb(0, 0, 0, 0.45));
  text-align: center;
  padding-top: 70px;
}
