* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.bikes__container {
  position: relative;

  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #444;
}

.bikes__container h2 {
  font-size: 3rem;
  font-weight: bolder;

  margin-bottom: 6rem;
}

.bikes__container h2 ion-icon {
  position: absolute;

  transform: translate(-4rem, -0.2rem);

  font-size: 4rem;
}

.bikes__container p {
  font-family: "Cutive Mono", monospace;

  font-size: 3rem;
  font-weight: normal;

  margin-top: 2rem;
}
