.service {
  width: 50vw;
  height: 60vh;
  margin: auto;
  margin-top: 10rem;
  border-radius: 2rem;
  background-image: linear-gradient(
      to right bottom,
      #213f36,
      rgb(33, 63, 54, 0.15)
    ),
    url("../../img/service-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 4rem;
  padding-left: 5rem;
}
