@media (max-width: 500px) {
  .main__container {
    width: 83%;
    margin: auto;
    margin-top: 5rem;
    padding-bottom: 40rem;
    display: grid;
    grid-template-columns: repeat(1, 83vw);
    grid-row-gap: 5rem;
  }

  .main__card {
    display: none;
  }

  .main__card--responsive {
    display: grid;
  }

  .main__card--responsive img {
    width: 83vw;
  }

  .main__card--responsive---p {
    background: #b30069;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2.5rem;

    height: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main__card--responsive---p p {
    width: 70%;
  }

  .main__mascara {
    width: 100vw;
    height: 100rem;
    background: linear-gradient(rgb(179, 0, 105, 0), rgb(179, 0, 105, 0.8));
  }
}
