.main__card img {
  width: 19.5vw;
}

.main__card--p {
  background: #b30069;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1vw;
  line-height: 1.5vw;

  height: 15rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main__card--p p {
  width: 70%;
}
