@media (max-width: 500px) {
  .service {
    width: 70vw;
    height: 68vh;
    margin-top: 50px;
    padding: 25px 25px 0px 25px;
    background-image: linear-gradient(
      to right bottom,
      #213f36,
      rgb(33, 63, 54, 0.4)
    );
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
  }

  .service__title h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .service__paragraph {
    width: 90%;
    margin-top: 30px;
    font-size: 24px;
    line-height: 30px;
  }

  .service__button {
    margin-top: 30px;
    text-align: center;
  }

  .service__button--button {
    font-size: 25px;
    border-radius: 50px;
    height: 70px;
    width: 280px;
  }

  /* .service__bottom--img {
    left: 0vw;
    top: 90vh;
    transform: translateY(calc(-100%)) scaleY(4) scaleX(2);
  } */

  .header__nav.active {
    display: flex;
    position: absolute;
    top: 83px;
    right: 0;
    background-color: rgb(0, 0, 0, 0.8);
    width: 70vw;
    z-index: 1;
  }
}
