.plants__plant {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 12rem;
  font-weight: bold;
  text-align: left;
}

.plants__plant a {
  text-decoration: none;
  color: #ffffff;
}

.plants__plant a:hover {
  cursor: pointer;
}

@media (max-width: 1360px) {
  .plants__plant {
    width: 95%;
  }
}
