@media (max-width: 500px) {
  html {
    overflow-x: hidden;
  }

  body {
    height: 75rem;
    width: 100vw;
    background: url("../../img/home-background.jpg") center / cover no-repeat;
    text-align: center;
  }

  .main {
    margin-top: 0;
    height: auto;
    background: none;
  }

  .main__title {
    padding-top: 5rem;
  }

  .main__title h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 5.5rem;
    color: rgb(255, 255, 255, 0.8);
  }

  .main__title span {
    color: #d2ffcb;
  }

  .main__paragraph {
    width: 85%;
    margin: auto;
    margin-top: 5rem;
    color: #ffffff;
    font-size: 2rem;
    line-height: 2.5rem;
    text-shadow: none;
  }

  .main__button {
    margin-top: 4rem;
  }

  .main__button--button {
    font-size: 1.8rem;
    width: 23rem;
  }

  .main__minilogos {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 4rem;
  }

  .main__minilogos img {
    height: 7rem;
  }

  .main__minilogos img:nth-child(3) {
    margin-top: 2.5rem;
  }

  .main__minilogos img:nth-child(4) {
    margin-top: 2.5rem;
  }

  .hero__button {
    margin-top: 8rem;
  }

  .hero__button--button {
    font-size: 2.6rem;
    border-radius: 7rem;
    height: 7rem;
    width: 28rem;
  }

  .hero__title {
    margin-top: 6rem;
    font-size: 2rem;
  }

  .hero__paragraph {
    width: 85%;
    margin: auto;
    font-size: 1.6rem;
    margin-top: 6rem;
    line-height: 2.5rem;
  }

  .plants {
    text-align: center;
    margin-top: 9rem;
    padding-bottom: 12rem;
  }

  .plants__title h2 {
    font-size: 6rem;
  }

  .plants__plant h3 {
    font-size: 4rem;
  }

  .plants__plant span {
    font-size: 2.5rem;
  }

  .plants__plant {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 9rem;
  }

  .plants__plant-type--foliage {
    margin: 0 0 6rem 0;
    opacity: 1;
    width: 24rem;
  }

  .plants__plant-type--pucculent {
    margin: 0 0 6rem 0;
    opacity: 1;
    width: 24rem;
  }

  .plants__plant-type--flower {
    margin: 0 0 6rem 0;
    opacity: 1;
    width: 24rem;
  }

  .plants__plant-type--fruit {
    margin: 0;
    opacity: 1;
    width: 24rem;
  }
}
