body {
  height: 100vh;
  width: 100vw;
  background: url("../../img/location-background.png") top / cover no-repeat;
  text-align: center;
}

.header__items:nth-child(4) a:hover {
  color: #696969;
}
