.sociais__redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 50%;
}

.sociais__logo {
  width: 9vw;
  height: 9vw;
  background-color: #8e056a;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.sociais__logo a {
  margin: auto;
}

.sociais__logo img {
  width: 5vw;
}

.sociais__redes p {
  margin-top: 3rem;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5vw;
  line-height: 3.7rem;
}

.sociais__redes a {
  text-decoration: none;
  color: #ffffff;
}
