.header__button {
  width: 23%;
  display: flex;
  justify-content: flex-end;
}

.header__button--button {
  color: #000000;
  font-weight: bold;
  background-color: #b7eaaf;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 45px;
  padding-top: 2px;
  transition: all 0.2s ease-in-out;
}

.header__button--button:hover {
  cursor: pointer;
  background-color: #375739;
  color: #2b2b2b;
}
