.header__burguer--container {
  width: 20%;
  display: none;
  align-items: center;
  justify-content: center;
}

.header__burguer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2.5rem;
  width: 3rem;
}

.header__burguer span {
  width: 100%;
  height: 0.3rem;
  background-color: #b7eaaf;
  border-radius: 1rem;
}
