.header__button {
  width: 23%;
  display: flex;
  justify-content: flex-end;
}

.header__button--button {
  color: #000000;
  font-weight: bold;
  font-size: 1.6rem;
  background-color: #b7eaaf;
  border: none;
  border-radius: 1rem;
  width: 15rem;
  height: 4.5rem;
  padding-top: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.header__button--button:hover {
  cursor: pointer;
  background-color: #375739;
  color: #2b2b2b;
}
