 /* 
  
  
  
  
  
       ==========     box de favoritos     ==========
  
  
  
  
  
*/

.fav {
    position: fixed;
  
    width: calc(8vw + 40vh + 15rem);
    height: calc(8vw + 40vh + 15rem);
  
    top: 55vh;
    left: 50vw;
  
    z-index: -1;
  
    background-color: rgb(173, 34, 37);

    color: #291810;
  
    transform: translate(-50%, -49%);

    opacity: 0;
  
    transition: 0.5s ease;

    pointer-events: none;

    border: 2px dashed rgb(255, 208, 176);
}
  
.fav.active {
    opacity: 1;

    pointer-events: all;

    z-index: 5;
}
  
#fav-x {
    position: absolute;
    top: 1rem;
    right: 2rem;
  
    width: 4rem;
    height: 4rem;
  
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#fav-x-1 {
    position: absolute;
  
    width: 30px;
    height: 3px;
  
    border-radius: 3px;
  
    background-color: #291810;
  
    transform: rotate(45deg);
}
  
#fav-x-2 {
    width: 30px;
    height: 3px;
  
    border-radius: 5px;
  
    background-color: #291810;
  
    transform: rotate(-45deg);
}

.fav__title {

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    width: 60%;
    height: 7vh;
  
    margin-top: 1vh;
  
    font-size: 1.8rem;
    color: #291810;

}
  
.fav__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    width: 95%;
    margin: auto;
    height: 7vh;
  
    margin-top: 1vh;
  
    font-size: 1.8rem;
    color: #291810;
    text-align: center;
}
  
.fav__product {
    width: 30%;
}
  
.fav__price {
    width: 30%;
}
  
.fav__items {
    max-height: 40vh;
    overflow-y: auto;
    max-width: 95%;
    margin: auto;
}
  
.fav__items::-webkit-scrollbar {
    width: 1rem;
}
  
.fav__items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
  
.fav__items::-webkit-scrollbar-thumb {
    background-color: rgb(153, 24, 27);
    outline: 1px solid rgb(0, 0, 0, 0.3);
}
  
.fav__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 95%;
    margin: auto;
    height: 8vh;
  
    background-color: #fff;
  
    margin-top: 2vh;
  
    font-size: 1.6rem;
    color: #291810;
    text-align: center;
  
    border: 1px solid;
}
  
.fav__item--product {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    width: 60%;
}
  
.fav__item--img {
    max-height: 6vh;
}
  
.fav__item--price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;

    padding-left: 1rem;
}
  
.fav__item--remove {
    width: 15%;
    cursor: pointer;
}
  
.fav__item--remove svg {
    background-color: rgb(207, 16, 18);
    border-radius: 50%;
    padding: 0.3rem;
  
    pointer-events: none;
}
  
.fav__empty {
    display: none;
}
  
.fav__empty.active {
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 2rem;
    font-weight: 400;
    color: #291810;

    margin-top: calc((8vw + 40vh + 15rem)/2 - 7vh);
}