@media (max-width: 500px) {
  .main {
    margin-bottom: 40rem;
  }

  .main__titulo {
    font-size: 4vw;
    height: 18rem;
    margin: auto;
  }

  .main__conteudo {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
  }

  .main__imagens {
    width: 33.33vw;
    cursor: pointer;
  }

  .img__container img {
    max-width: 95vw;
    max-height: 90vh;
    margin: auto;
    object-fit: cover;
  }

  .img__container.active {
    width: 90vw;
    height: 90vh;
  }
}
