@media (max-width: 500px) {
  .main {
    margin-bottom: 40rem;
  }

  .main__titulo {
    font-size: 1.8rem;
    height: 18rem;
    margin: auto;
  }

  .main__conteudo {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }

  .main__imagens {
    width: 33vw;
    cursor: pointer;
  }

  #galeria-a9,
  #galeria-b9,
  #galeria-c9 {
    display: block;
  }

  .img__container img {
    max-width: 95vw;
    max-height: 90vh;
    margin: auto;
    object-fit: cover;
  }

  .img__container.active {
    width: 90vw;
    height: 90vh;
  }

  #img-x {
    top: 2rem;
    right: 4rem;
    font-size: 2rem;
  }

  #prev {
    left: 2rem;
    font-size: 3rem;
  }

  #next {
    right: 2rem;
    font-size: 3rem;
  }
}
