.main__titulo {
  width: calc(60rem - 6vw);
  text-align: right;
  text-transform: uppercase;
  font-size: calc(2rem + 1vw);
  line-height: calc(5rem + 0.5vw);
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  margin-right: 7rem;
}

.main__titulo span {
  font-weight: 700;
}
