.main__texto {
  font-family: "Quicksand", sans-serif;
  width: calc(120rem - 2vw);
  font-size: 1.8rem;
  line-height: 1.8vw;
  margin-top: 5rem;
  margin-left: 5rem;
}

.main__texto a {
  text-decoration: none;
  color: rgb(0, 0, 150);
}
