.banner {
  width: 100%;
  height: 14.5rem;
  padding-top: 22rem;
  text-align: center;
  font-family: "Comfortaa", cursive;
}

.banner__imagem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40rem;
  z-index: -2;
  object-fit: cover;
}

.banner__imagem--responsive {
  display: none;
}

.banner__mascara {
  position: absolute;
  background-color: rgb(179, 0, 105);
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40rem;
  z-index: -1;
}

.banner h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: calc(2rem + 2vw);
  font-weight: 700;
  line-height: 12rem;
  letter-spacing: 0.5rem;
}
