html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.musica__mobile {
  display: none;
}

/*





==============================     MENU     ==============================





*/

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 7rem;
  background-color: rgb(0, 0, 50);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  overflow-x: hidden;
  box-shadow: 0 0 5rem rgb(32, 115, 209);
  transition: 0.5s ease;
}

.menu:hover {
  width: 25rem;
}

.menu__lista {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  height: 60vh;
  margin-top: 20vh;
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.6rem;
  width: 100%;
}

.menu__item:hover {
  background-color: rgb(24, 67, 114);
  cursor: pointer;
}

.icon {
  width: 25%;
  padding: 1rem;
}

.text {
  width: 60%;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(32, 115, 209);
}

/*





==============================     TITLE SCREEN     ==============================





*/

.palm__container {
  position: absolute;
  bottom: calc(65% - 7vw);
  height: 31rem;
  width: 16.5rem;
  left: calc(-10rem + 40vw);
}

.palm {
  position: absolute;
  z-index: 1;
  margin-left: -14vw;
}

#copa {
  animation: copa 1s ease-in-out infinite alternate;
}

@keyframes copa {
  from {
    transform: skewX(1deg);
  }

  to {
    transform: skewX(-1deg);
  }
}

.california {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Josefin Sans", sans-serif;
}

.california h1 {
  text-align: center;
  font-size: 9vw;
  letter-spacing: 1.5rem;
  background: linear-gradient(
    rgb(230, 230, 230),
    30%,
    rgb(82, 33, 14),
    55%,
    rgb(230, 230, 230)
  );

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.sports {
  position: absolute;
  transform: scale(-50%);
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

.sports__mobile {
  display: none;
}

#mar {
  animation: mar 1.5s ease-in-out infinite alternate;
}

@keyframes mar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(10px);
  }
}

#mar-mob {
  animation: mar-mob 1.5s ease-in-out infinite alternate;
}

@keyframes mar-mob {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(5px);
  }
}

.title {
  position: absolute;
  z-index: -1;
}

.title.inactive {
  display: none;
}

.title__container {
  position: absolute;
  width: 75%;
  height: 70%;
  top: 50%;
  left: 55%;
  transform: translate(-55%, -50%);
}

.title__bg1 {
  width: 100vw;
  height: 60vh;
  background: linear-gradient(
    rgb(0, 0, 31),
    rgb(2, 2, 68),
    rgb(0, 0, 31),
    rgb(2, 2, 68),
    rgb(0, 0, 40)
  );
}

.title__div {
  position: absolute;
  width: 80%;
  height: 0.6rem;
  top: 50%;
  left: 50%;
  margin-top: 6vw;
  transform: translateX(-50%);
  border-radius: 2rem;
  background-color: rgb(188, 243, 59);
}

.title__bg2 {
  width: 100vw;
  height: 40vh;
  background-color: rgb(0, 0, 40);
}

/*





==============================     CONTEÚDO     ==============================





*/

.conteudo {
  position: absolute;
  width: 62rem;
  height: 62rem;
  top: 50%;
  left: 53%;
  transform: translate(-53%, -50%);
}

/*



HALF PIPE



*/

.half__pipe {
  position: absolute;
  opacity: 0;
}

.half__pipe.active {
  opacity: 1;
}

#half__pipe {
  animation: half__pipe 3s ease infinite;
}

@keyframes half__pipe {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-70px);
  }
}

#skateboard {
  animation: skateboard 3s ease-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes skateboard {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

/*



SURFING



*/

.surfing {
  position: absolute;
  opacity: 0;
}

.surfing.active {
  opacity: 1;
}

#surfer {
  animation: surfer 1.5s ease infinite alternate;
}

@keyframes surfer {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-42px);
  }
}

#surfboard {
  animation: surfboard 1.5s ease infinite alternate;
}

@keyframes surfboard {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50px);
  }
}

/*



SKATING



*/

.skating {
  position: absolute;
  opacity: 0;
}

.skating.active {
  opacity: 1;
}

#body {
  animation: body 0.7s ease infinite alternate;
}

@keyframes body {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}

#legs {
  animation: legs 0.7s ease infinite alternate;
}

@keyframes legs {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-15px);
  }
}

#hair {
  animation: hair 0.2s ease infinite alternate;
}

@keyframes hair {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(-10px);
  }
}

/*



BMX



*/

.bmx {
  position: absolute;
  opacity: 0;
}

.bmx.active {
  opacity: 1;
}

#bmx {
  animation: bmx 3s ease infinite;
}

@keyframes bmx {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-70px);
  }
}

#front-wheel {
  animation: front-wheel 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes front-wheel {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

#back-wheel {
  animation: back-wheel 3s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes back-wheel {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

/*



ABOUT



*/

.about__container-mobile {
  display: none;
}

.about {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  background-color: rgb(0, 0, 50);
  box-shadow: 0 0 5rem rgb(32, 115, 209);
  color: rgb(32, 115, 209);
  padding: 5rem 7rem;
  font-family: "Poppins", sans-serif;
  opacity: 0;
}

.about h2 {
  font-size: 3rem;
}

.about p {
  font-size: 1.6rem;
}

.about p span {
  font-style: italic;
}

.about.active {
  opacity: 1;
}

/*



==============================     BACKGROUND     ==============================



*/

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.bg {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    #1f8baa,
    #248bac,
    #3e90ae,
    #5f97b0,
    #7599af,
    #879cad,
    #959cac,
    #b5a0a5,
    #c6a1a0,
    #cea19c,
    #e5a28f,
    #fea168,
    #ffa163,
    #ff9c49,
    #ff982e,
    #fe9112
  );
}

/*





==============================     RESPONSIVO     ==============================





*/

@media (max-width: 510px) {
  .conteudo {
    position: absolute;
    width: 99vw;
    height: 79vh;
    top: 10vh;
    left: 0;
  }

  .half__pipe,
  .surfing,
  .skating,
  .bmx {
    transform: scale(0.65);

    width: 20vw;
    height: 50vh;
  }

  .half__pipe {
    top: 47vh;
    left: 60vw;
  }

  .surfing {
    top: 47vh;
    left: 57vw;
  }

  .skating {
    top: 47vh;
    left: 57vw;
  }

  .bmx {
    top: 45vh;
    left: 57vw;
  }

  .menu {
    position: fixed;
    top: 90vh;
    left: 0;
    height: 10vh;
    width: 100vw;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 0;
    overflow-x: unset;
    box-shadow: 0 0 3rem rgb(32, 115, 209);
  }

  .menu:hover {
    width: 100vw;
  }

  .menu__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    height: 100%;
    margin-top: 0;
  }

  .menu__item p {
    display: none;
  }

  .menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 1.6rem;
    width: 100%;
  }

  .icon {
    width: 100%;
    padding: 0;
  }

  .icon svg {
    width: 100%;
    margin: auto;
  }

  .musica__container {
    display: none;
  }

  .musica__mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    background-color: rgb(0, 0, 50);
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    overflow-x: hidden;
    box-shadow: 0 0 5rem rgb(32, 115, 209);
    transition: 0.5s ease;
  }

  .m-musica {
    display: flex;
    width: 70%;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .m-musica svg {
    display: block;
    padding: 0.3rem;
    margin: 0.3rem 0.3rem;
    border-radius: 50%;
  }

  .m-musica svg:hover {
    background: rgb(40, 40, 80);
    cursor: pointer;
    transition: 0.3s;
  }

  .m-musica svg:first-child:hover {
    background: none;
    cursor: inherit;
  }

  #m-pause-btn {
    display: none;
  }

  #m-volumeX-btn {
    display: none;
  }

  .palm__container {
    bottom: 31vh;
    left: 18vw;
  }

  .palm {
    transform: scale(0.65);
  }

  .california {
    width: 90vw;
    top: 28vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .california h1 {
    font-size: 5rem;
    letter-spacing: 1.2rem;
  }

  .title__div {
    width: 37rem;
    top: 38vh;
    height: 0.4rem;
  }

  .sports {
    display: none;
  }

  .sports__mobile {
    display: block;
    position: absolute;

    width: 37rem;
    height: 12rem;

    top: 45vh;
    left: 0;
  }

  .about__container {
    display: none;
  }

  .about__container-mobile {
    display: block;
  }

  .about {
    position: absolute;
    width: 75vw;
    height: 70vh;
    top: 44.5vh;
    left: 64vw;
    padding: 2vh 5vw;
    opacity: 0;
  }

  .about h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .about p {
    font-size: 1.5rem;
    margin-top: 4.5rem;
  }
}
/*





==============================     RESPONSIVO MOBILE     ==============================





*/
@media (max-width: 480px) {
  .title {
    position: absolute;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    z-index: -1;
  }

  .title__container {
    position: absolute;

    width: 100vw;
    height: 80vh;

    top: 50vh;
    left: 55vw;

    margin: 0;
    padding: 0;
  }

  .title__bg2 {
    position: absolute;
    width: 100vw;
    height: 52vh;
    top: 48vh;
    z-index: -1;
  }

  .sports {
    display: none;
  }

  .sports__mobile {
    display: block;
    position: absolute;

    width: 95%;

    top: 50vh;
    left: 50%;

    transform: translateX(-50%);
  }

  .palm__container {
    width: 10vw;
    height: 10vh;

    bottom: 60.5vh;
    left: 25vw;
  }

  .palm {
    transform: scale(0.55);
  }

  .california {
    width: 100vw;
    top: 34vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .california h1 {
    font-size: 4rem;
    letter-spacing: 1rem;
  }

  .title__div {
    width: 80%;
    margin: auto;
    top: 46vh;
    height: 0.4rem;
  }

  .conteudo {
    position: absolute;
    width: 99vw;
    height: 79vh;
    top: 10vh;
    left: 0;
  }

  .half__pipe,
  .surfing,
  .skating,
  .bmx {
    transform: scale(0.48);

    width: 20vw;
    height: 50vh;
  }

  .half__pipe {
    top: 47vh;
    left: 60vw;
  }

  .surfing {
    top: 47vh;
    left: 57vw;
  }

  .skating {
    top: 47vh;
    left: 57vw;
  }

  .bmx {
    top: 45vh;
    left: 57vw;
  }

  .about__container {
    display: none;
  }

  .about__container-mobile {
    display: block;
  }

  .about {
    position: absolute;
    width: 90vw;
    height: 75vh;
    top: 42vh;
    left: 57.5vw;
    padding: 2vh 5vw;
    opacity: 0;
  }

  .about h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .about p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
